.flex-viewport { 
	height:100% !important;
 }

.woocommerce-product-gallery__wrapper div{
	width:100%;
 }
.variations_form .variations tr td.label{
	background: #fff;
	padding: 0rem;
}
.variations_form .variations tr td.value{
	background: #fff;
	padding: 0rem;
}
.input-qty-pm{
	margin-bottom: 0.8rem;
}
.single_add_to_cart_button{
	background:#ff5c0e !important;
}

button#button_vue {
    height:auto ;
}
